html, body {
    width: 100%;
    overflow-x: hidden;
}
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #0a2540;
    max-width: 1500px;
}

a {
    color:#0a2540;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    background: linear-gradient(to left, #ff9a27, #b54ef9, #24d3fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 1s ease;
}

ul {
    list-style-type: none;
}
  
/* Header animation */
.canvas-container {
    position: relative; 
}

header {
    height: 800px;
    z-index:2;
    text-align:center;
    width: 100%;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
}

#gradient-canvas {
    height:800px;
    --gradient-color-1: #5044f8; 
    --gradient-color-2: #b54ef9; 
    --gradient-color-3: #24d3fb;  
    --gradient-color-4: #ff9a27;
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    width: 100%;
}

/* Menu navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.menu-nav {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 10px 30px;
}

.menu-nav a {
    color:#e1e7ed;
    mix-blend-mode: difference;
}

.photo {
    height: 5%;
    width: 5%;
    border-radius: 50%;   
    padding: 10px;
}

/* Accueil */
h1 {
    margin-bottom: 0;
    font-weight: 400;
    font-size:5rem;
    text-align:center;
    mix-blend-mode: difference;
}

h2 {
    font-size: 3rem;
    font-weight: 350;
    text-align: center;
}

.lien-travaux {
    margin-top: 200px;
}

.fiche-accueil {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 1;
    transition: 1s ease;
}

h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 40px;
}

/* Qui suis-je */
.a-propos p {
    padding: 50px 150px;
    text-align:justify;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 50px;
}

.photo-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.photo-2 {
    width: 15%;
    height: 15%;
    border-radius: 50%; 
}

/* Compétences */
.competences {
    background: linear-gradient(to right, #ff9a27, #b54ef9, #24d3fb);
    padding-top: 50px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.competences h3 {
    margin-block-end: 0;
}

.li-competences {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    margin: 40px 30px 40px 30px;
    padding-inline-start: 0; 
    position: relative;
    top: -200px;
    right: 20px;
}

.li-competences i {
    font-size: 100px;
    background: linear-gradient(to left, #ff9a27, #b54ef9, #24d3fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color:#124170;
    position: relative;
}

.li-competences li {
    width: 25%;
}

.li-competences p {
    font-size: 20px;
    text-align: center;
    color:#0a2540;
}

.liens-competences {
    display: flex;
    justify-content: center;
}

.liens-competences a{
    font-size: 30px;
}

.liens-competences i {
    color:#e1e7ed;
}

.i-texte-3 i {
    font-size: 25px !important;
}

.texte-afficher i {
    font-size: 30px;
}

.container {
    position: relative;
}
  
.survol, .texte-afficher {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2); /* Ajout du cadre avec une bordure transparente par défaut */
    transition: opacity 0.8s ease;
    border-radius: 1px;
    height: 250px;
}
  
.texte-afficher {
    transition: opacity 0.8s ease;
    opacity: 0;
}

.survol {
    padding: 40px 20px 0 20px;
}

.texte-afficher {
    padding: 20px;
}

/* Portfolio */
.portfolio {
    margin-top: 100px;
}

.portfolio h3 {
    margin-block-end: 0;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image-portfolio {
    width: 90%;
}

.image-portfolio img {
    width: 100%;
}

.content-portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff9a27, #b54ef9, #24d3fb);
}

aside {
    padding: 30px;
}

aside a{
    font-weight: 600;
}

h5 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    color:#e1e7ed;
    font-size: 50px;
    font-weight: 300;
}

.content-portfolio p {
    font-size: 20px;
    font-weight: 400;
    color:#e1e7ed;
}

.content-portfolio a {
    color:#e1e7ed;
}

.detail-content {
    display: flex;
    gap: 200px;
    margin-left: 50px;
    justify-content:space-between;
    width: 100%;
}

.detail-2 {
    padding-top: 30px;
    padding-right: 20px;
}

/* Contact */
.li-contact {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 50px;
}

.li-contact i {
    background: linear-gradient(to right, #ff9a27, #b54ef9, #24d3fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.contact {
    height: 600px;
}

.contact h3 {
    margin-top: 100px;
}

.contact p {
    padding: 30px 150px;
    text-align:justify;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Footer */
footer {
    height: 100px;
}

footer p {
    position: relative;
    z-index: 2;
    color:#e1e7ed;
    text-align: center;
    top: -70px;
}

.gradient-footer {
    background: linear-gradient(to right, #ff9a27, #b54ef9, #24d3fb);
    height: 100px;
    position: relative;
    z-index: 1;
}

.photo-scroll {
    height: 20px;
    width: 20px;
}

#modal-btn {
    display: none;
    margin: 0;
}

.modal-btn {
    padding: 20px 20px;
    font-size: 20px;
    margin: 100px auto;
    
    min-width: 150px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color:#0a2540;
    position: relative;
    top: -5px;
    left: 50%; /* Remplacez "35%" par "50%" */
    transform: translateX(-50%);
}

.modal-container {
    /*display: none;*/
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 800px;;
    transition: visibility 0.4s;
}

.modal-container.active {
    /*display: block;*/
    visibility: visible;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}

.modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal {
    opacity: 0;
    width: 95%;
    max-width: 400px;
    min-width: 300px;
    padding: 30px;
    background: white;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-20%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
    tranform 0.4s ease-out;
}

.modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}

.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: red;
    color:white;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .texte-afficher p {
        font-size: 17px;
    }
    .texte-afficher i {
        padding: 0;
        font-size: 28px;
    }
}

@media screen and (max-width: 1300px){
    .contact p {
        padding-top: 5px;
    }
}

@media screen and (max-width: 1100px){
    .contact p {
        padding-top: 0px;
    }
    .li-contact {
        gap: 20px;
       }
    .contact p {
        padding: 0px 100px;
    }
}

@media screen and (max-width: 1000px){
    .menu-nav {
        gap: 20px;
        padding: 10px 5px;
    }
    header {
        height: 700px;
    }
    #gradient-canvas {
        height: 700px;
    }
    h1 {
        font-size:4rem;
        margin-top: 100px;
    }
    .a-propos p {
        padding: 20px 100px;
    }
    .competences {
    padding-top: 20px;
    height: 1150px;
    gap: 50px;
    }
    .li-competences {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    right: 40px;
    }
    .li-competences i {
    font-size: 80px;
    }
    h4 {
    font-size: 1.5rem;
    font-weight: 350;
    }
    .li-competences li {
    width: 70%;
    }
    .li-competences p {
    font-size: 15px;
    }
    .texte-afficher i {
    font-size: 30px;
    }
    .container {
    margin: 150px;
    }
    .survol, .texte-afficher {
    height: 200px;
    }
    .liens-competences {
    position: relative;
    top: -150px;
    }
    .texte-afficher p {
    padding: 10px 30px 0 30px;
    } 
}
@media screen and (max-width: 800px) {
    a {
        font-size: 14px;
    }
    .menu-nav {
        gap: 0;
        padding: 5px 5px;
    }
    header {
        height: 700px;
    }
    #gradient-canvas {
        height: 700px;
    }
    .photo {
        height: 6%;
        width: 6%;
    }
    .a-propos p {
        padding: 5px 50px;
    }
    .li-competences {
        right: 65px;
    }
    .portfolio {
        margin-top: 60px;
    }
    .contact h3 {
        margin-top: 50px;
    }
    .contact p {
        padding: 0 50px;
    }
}

@media screen and (max-width: 700px) {
    .li-competences {
        right: 70px;
    }
    .contact {
        height: 500px;
    }
    .contact p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 600px) {
    #modal-btn {
        display: block;
    }
    .menu-nav {
        display: none;
    }
    header {
        height: 400px;
    }
    #gradient-canvas {
        height: 400px;
    }
    .photo {
        display: none;
    }
    .fiche-accueil {
        margin-top: 50px;
    }
    h1 {
        font-weight: 400;
        font-size: 2.5rem;
        margin-top: 0;
    }
    h2 {
        font-size: 2rem;
        font-weight: 350;
    }
    .lien-travaux {
        margin-top: 50px;
    }
    h3 {
        font-size: 2rem;
        margin-top: 20px;
    }
    .a-propos p {
        font-size: 1rem;
        margin-bottom: 30px;
    }
    .photo-container {
        margin-top: 20px;
    }
    .competences {
        padding-top: 20px;
        height: 1150px;
        gap: 50px;
    }
    .li-competences {
        right: 110px;
    }

    .li-competences li {
        width: 80%;
    }
    .portfolio {
        margin-top: 40px;
    }
    .detail-content {
        flex-direction: column;
    }
    h5 {
        font-size: 40px;
    }
    .content-portfolio p {
        font-size: 18px;
    }
    .detail-content {
        gap: 0;
    }
    .detail-2 {
        padding-top: 10px;
        padding-right: 30px;
    }
    aside {
        padding: 15px 0;
    }
    aside a{
        font-size: 14px;
        font-weight: 500;
    }
    .li-contact {
    gap: 20px;
    }
    footer p {
    font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .contact {
        height: 550px;
    }
}


@media screen and (max-width: 550px) {
    .li-competences {
        right: 120px;
    }
    .liens-competences i {
        font-size: 20px;
    }
    .li-contact i {
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .a-propos p {
        padding: 0 30px 20px 30px;
    }
    .li-competences {
        right: 130px;
    }
    .contact p {
        padding: 0 30px 5px 30px;
    }
}

@media screen and (max-width: 400px) {
    .li-competences {
        right: 140px;
    }
    .li-contact {
        gap: 10px;
    }
    .texte-afficher p {
        padding: 10px 5px 0 5px;
        font-size: 14px;
    }
    .texte-afficher i {
        font-size: 25px;
    }
    .i-texte-3 i {
        font-size: 20px !important;
    }
}
